<h2><%= "You are already logged in as: #{session['user']}." %></h2>

<a href="/logout" class="btn btn-danger">
  <span class="glyphicon glyphicon-remove-sign icon-white"></span> Log Out
</a>

<a href="/" class="btn btn-primary">
  <span class="glyphicon glyphicon-home icon-white"></span> Home
</a>
