<h2>Log In Error</h2>

<p>
There is a problem with the user account your are currently logged in under, please <a href="logout">log out</a> and re-login.
</p>

<p>
  <a href="/logout" class="btn btn-danger">
    <span class="glyphicon glyphicon-log-out icon-white"></span> Log Out
  </a>
</p>
