<h2>Log In</h2>

<form action="/login/attempt" method="post">
  <div class="input-group">
    <input id="username" type="text" class="form-control" maxlength="24" name="username" placeholder="Username">
      <span class="input-group-btn">
        <button id="submit" class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-log-in icon-white"></span> Submit
        </button>
      </span>
  </div>
</form>

