<h2>Sign Up</h2>

<form action="/signup/create" method="post">
  <div class="input-group">
    <input id="username" type="text" class="form-control" maxlength="24" name="username" placeholder="Desired Username">
      <span class="input-group-button">
        <button class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-plus-sign icon-white"></span> Submit
        </button>
      </span>
  </div>
</form>


signup page
