<h2>Edit Task</h2>

<form action="/task/<%= @task.id %>" method="post">

  <div class="input-group centered-block" style="display:block">
    <input name="_method" type="hidden" value="put">
    <textarea rows="2" class="form-control" id="content" maxlength="64" name="content"><%= @task.content %></textarea>

      <button class="btn btn-primary" id="task_submit" name="commit" type="submit"><span class="glyphicon glyphicon-plus-sign icon-white"></span> Submit</button>

      <a href="/" class="btn btn-info"><span class="glyphicon glyphicon-home icon-white"></span> Home</a>

      <a href="/task/<%= @task.id %>/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign icon-white"></span> Delete</a>

  </div>
</form>

