<h2>What do you need to do?</h2>

<form action="/task/create" method="post">
  <div class="input-group">
    <input id="content" type="text" class="form-control" maxlength="64" name="content" placeholder="Describe your Task">
    <span class="input-group-btn">
      <button id="submit" class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-plus icon-white"></span> Submit
      </button>
    </span>
  </div>
</form>


