<h2><%= @task.content %></h2>



<p> This task belongs to: <%= @task.user.username %></p>

<p>
  <a href="/" class="btn btn-info">
    <span class="glyphicon glyphicon-home icon-white"></span> Home
  </a>
</p>
